.navbar-nav a{
   font-size: 20px
}

.nav-bar-active{
   background: rgb(0, 120, 35, 0.6);
   border-radius:20px;
}
.navbar-nav a:hover {
   background: rgb(0, 120, 35, 0.6);
   color: black;
   border-radius:20px;
}
.hide {
    display: none;
    visibility: hidden;
}

.hide-radio {
    position: absolute;
    margin-top: 15px;
    z-index: -100;
    opacity: 0;
    size: 1px 1px;
}

.searchElement {
    border: 2px solid black;
}

#preSearch {
    display: none;
    background-color: transparent;
}

#search:focus ~ #preSearch,
#preSearch:hover
{
    z-index: 100;
    margin-top: 50px;
    padding: 0px;
    display: inline-block;
    position: absolute;
    background-color: white;
}

#preSearch > input {
    width: 100%;
    background-color: white;
    border: 3px solid black;
    color: black;
    margin: 0px;
    padding: 5px;
}
#preSearch > input:hover {
    background-color: #dedede;
}

.availability {
    border: 2px solid black;
}

.availability.avYes {
    background-color: #08a129;
}
.availability.avNo {
    background-color: #700015;
}
.availability.avYesnt {
    background-color: #ffab26;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.dbLabel {
    background-color: white;
    border: 6px solid white;
}

.dbLabel:hover {
    background-color: #d0d0d0;
    border: 6px solid #ababab;
}

.searchButton:hover {
    background-color: #005b1b;
}

#searchDBHS:checked ~ label[for="searchDBHS"],
#searchDBEUF:checked ~ label[for="searchDBEUF"]
{
    background-color: #198754;
    color: white!important;
    border: 6px solid black;
}

.langButton {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    image-rendering: pixelated;
    border-radius: 100%;
}